﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>INCHIRIERI-MASINI</h1>
    <p class="lead">Noua interfata a site-ului de inchirieri iti ofera  mai multe optiuni pentru a inchiria masina mult dorita la un super pret.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Click aici ! &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>CAUTA OFERTE LA MASINI</h2>
        <p>
            Cel mai simplu mod de a gasi masini de inchiriat!
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>HAI SA-TI GASIM MASINA IDEALA!</h2>
        <p>Cautati ,Comparati si Economisiti!.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>DESPRE INCHIRIERI-MASINI</h2>
        <p>Seriozitate/Siguranta/Incredere.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>